* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248,249,250);
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 26px -16px rgba(0,0,0,0.75);
}

.brand-title {
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar-links ul {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 0.5rem;
}

.navbar-links li a {
    text-decoration: none;
    color: grey;
    padding: 1rem;
    display: block;
}


.navbar-links li:hover {
    background-color: rgb(204, 84, 52);
}

.navbar-links li a:hover {
    color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Navbar Media Queary */


@media (max-width: 800px) {
    .brand-title {
        color: white;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(204, 84, 52);
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        color: white;
    }

    .navbar-links li a:hover {
        background-color: rgb(212, 107, 78);
    }

    .navbar-links.active {
        display: flex;
    }
}


/* Main Section */


.mainSection {
    margin-top: 10rem;
    margin-bottom: 5rem;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.presentationPicture {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mainPicture {
    max-width: 40%;
    margin-left: 3em;
    padding: 0;
    box-shadow: 10px 10px 46px -16px rgba(0,0,0,0.75);
}

.myPresentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myPresentation h2 {
    font-weight: lighter;
}

.myPresentation h6 {
    font-size: 1em;
    font-weight: lighter;
    line-height: 1;
    border-bottom: 3px solid rgb(204, 84, 52);
    width: 45%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainButtons {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    width: 7em;
    height: 2.5em;
    margin: 1em;
    border: 2px solid rgb(204, 84, 52);
    border-radius: 0.3em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#projects {
    background-color: rgb(204, 84, 52);
    color: white;
}

#projects:hover {
    background-color: rgb(212, 107, 78);
    border: rgb(212, 107, 78);
    color: white;
    cursor: pointer;
}


#hire {
    background-color: white;
    color: rgb(204, 84, 52);
}

#hire:hover {
    background-color: rgb(204, 84, 52);
    border: rgb(204, 84, 52);
    color: white;
    cursor: pointer;
}

/* Main Section Media Query */

@media (max-width:800px) {
    .mainSection {
        margin-top: 5em;
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    .presentationPicture {
        margin-top: 3em;
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .myPresentation {
        margin-top: 3em;
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mainPicture {
        max-width: 50%;
        margin: 0;
    }

    .myPresentation h6 {
        width: 50%;
    }
}

/* My Work Section */


#work {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    margin: 4em 0 2em 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2em;
    justify-content: space-between;
}

.cardLink {
    text-decoration: none;
    color: black;
}

.card {
    border: none;
    outline: none;
    text-align: center;
    border-radius: 2em;
    box-shadow: 10px 3px 35px -9px rgba(0,0,0,0.75);
    padding: 1rem;
}

.card h4 {
    text-align: center;
    font-weight: bold;
}

.card p {
    color: gray;
}

.circle {
    height: 70px;
    width: 70px;
    background-color: lightgrey;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.circle span {
    display: flex;
    margin-top: 0.50rem;
    justify-content: center;
    align-items: center;
}

.card:hover .circle {
    background-color:rgb(204, 84, 52);
    color: white;
    transition: 0.5s;
}


/* Work Media Query */

@media (max-width:800px) {

    #work {
        margin-top: 3rem;
    }

    .myWork h1 {
        text-align: center;
        margin-top: 1em;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1em;
        justify-content: space-between;
    }    

}

@media (max-width:600px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 1em;
        justify-content: space-between;
    }    

}


/* About Section */

#about {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 8rem 2rem 8rem;
}


.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContainer h1 {
    margin: 5rem 0 1rem 0;
}

.textAbout {
    margin: 2rem;
    text-align: justify;
}

.imgAbout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

.imgAbout img {
    max-width: 100%;
    border-radius: 1rem;
}

/* About Media Query */

@media (max-width:800px) {

    #about {
        margin: 2rem 2rem 2rem 2rem;
    }

    .imgAbout {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 0.5rem;
    }

    .hidden {
        display: none;
    }
}

@media (max-width:600px) {

    .imgAbout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    .bottomImg {
        display: none;
    }
}


/* Contact Section */

#contact {
    margin-top: 3rem;
}

.pcVersion {
    margin-top: 5rem;
}

.mobileVersion {
    display: none;
}

#contactInputs {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 1rem;
}

.firstSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fullName {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
}

.secondSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contactDetails {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
}

.thirdection {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-top: 1rem;
}

.text {
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
}

.boxes {
    height: 2.5rem;
    width: 90%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

#contact {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

#subject {
    width: 95%;
    height: 5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.sumbitDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}

.submitButton {
    margin: 1rem 2rem 1rem 1rem;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    width: 7em;
    height: 2.5em;
    border: 2px solid rgb(204, 84, 52);
    border-radius: 0.3em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgb(204, 84, 52);
    color: white;
}

.submitButton:hover {
    background-color: rgb(212, 107, 78);
    border: rgb(212, 107, 78);
    color: white;
    cursor: pointer;
}


.circle:hover {
    background-color:rgb(204, 84, 52);
    color: white;
    transition: 0.5s;
}

.form h3 {
    margin-top: 2rem;
}

/* Contact Media Query */

@media (max-width: 800px) {

    .contactContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactSection {
        margin: 1rem;
    }

    .form {
        display: none;
    }

    #contact {
        margin-top: 0;
    }

    .pcVersion {
        display: none;
    }

    .mobileVersion {
        display: flex;
        margin-top: 3rem;
    }
}




/* Footer Section */

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem 0 2rem 0;
    justify-content: space-between;
    background-color: rgb(204, 84, 52);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
}

.footer h2 {
    font-weight: lighter;
}

.footerContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mediaLogos {
    width: 15%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.mediaLogos a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}


/* Footer Media Query */


@media (max-width:800px) {

    .footer {
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
    }
    .mediaLogos li{
        margin-right: 1rem;
    }
}